.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

# 首先忽略整个 .vscode 文件夹
.vscode/*

# 然后取消忽略 launch.json
!.vscode/launch.json
